/* * {
  /* box-sizing: border-box; */
  /* margin: 0;
  padding:0;
} */ 

.home, .studio, .explore, .profile {
  height: 100vh;
  text-align: center;
} 

body .bg-dark {
  background-color: cadetblue!important;
  color: black;
}