@import url("https://use.typekit.net/iqc4ean.css");
@import url("https://use.typekit.net/iqc4ean.css");

* {
  outline: none;
}

h3 {
  font-family: playfair-display, serif;
  font-weight: 400;
  font-style: italic;
}

h1, h2, h4, p {
  font-family: novecento-sans-wide,sans-serif;
  font-weight: 400;
  font-style: normal;
}


body .bg-dark {
  background-color: #388697!important;
  color: black;
}
body a {
  color: black
}

body a:hover {
  color:#E59500;
  text-decoration: none;
}

a.nav-item {
  color: rgb(255, 255, 255);
}

a.nav-item:hover, a.nav-link:hover {
  color:#E59500;
  text-decoration: none;
}

a.nav-link {
  color: white
}


a.prof-link, a {
  color: rgb(197, 102, 102)
}