.explore {
  background: linear-gradient(to bottom, #388697 29%, #ffffff 100%);
  background-color: darkred;
}

.explore-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-content: space-between;
  justify-content: space-around;
  height: 100vh;
}

.card {
  align-self: center;
  justify-self: center;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  width: 20vw;
  height: 25vh;
}
